alembic==1.2.1
bleach>=3.1.0
bokeh==1.4.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
config==0.4.2
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.0
docutils==0.15.2
dominate==2.4.0
Flask==1.1.1
Flask-Bootstrap4==4.0.2
Flask-CLI==0.4.0
Flask-Debug==0.4.3
Flask-Login==0.4.1
Flask-Migrate==2.5.2
flask-nav==0.6
flask-shell==0.1.3
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
future==0.18.2
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
Mako==1.1.0
MarkupSafe==1.1.1
matplot==0.1.9
matplotlib==3.1.1
numpy==1.17.3
packaging==19.2
pandas==0.25.2
pbr==5.4.3
Pillow>=6.2.1
pkginfo==1.5.0.1
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycparser==2.19
Pygments==2.4.2
pyloco==0.0.139
pyparsing==2.4.2
PySocks==1.7.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-telegram-bot==12.2.0
pytz==2019.3
PyYAML==5.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
SimpleWebSocketServer==0.1.1
six==1.12.0
SQLAlchemy==1.3.10
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
style==1.1.0
Tempita==0.5.2
tqdm==4.36.1
twine==1.13.0
typing==3.7.4.1
update==0.0.1
urllib3==1.25.6
ushlex==0.99.1
visitor==0.1.3
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
WTForms==2.2.1
