{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/Chart.min.css') }}">
    {#    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">#}
    {#    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">#}

{% endblock %}


{% block title %}
    Roberto

{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-dark bg-primary ">
        <a class="navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            {% if game_type == '2' %}
                Duel
            {% elif game_type =='3' %}
                Top3
            {% else %}
                12x24
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('index') }}">12x24</a>
            <a class="dropdown-item" href="{{ url_for('index') }}?game=2">Duel</a>
            <a class="dropdown-item" href="{{ url_for('index') }}?game=3">Тоp3</a>
        </div>
        <a class="navbar-brand" href="{{ url_for('history') }}">Рез</a>
        <a class="navbar-brand" href="{{ url_for('emu') }}">ЭМУ</a>
        <a class="navbar-brand" href="{{ url_for('notice') }}">Увд</a>

        {% if current_user.id==1 %}
            <a class="navbar-brand" href="{{ url_for('settings') }}">Set</a>
        {% endif %}

        <a class="navbar-brand" href="{{ url_for('charts') }}">Стат</a>
        {#        <a class="navbar-brand" href="{{ url_for('chart') }}">Боке</a>#}
        {% if current_user.is_anonymous %}
            <a class="navbar-brand" href="{{ url_for('login') }}">Войти</a>
        {% else %}
            <a class="navbar-brand" href="{{ url_for('logout') }}">Выx</a>
        {% endif %}
    </nav>

{% endblock %}

{% block scripts %}
    <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="{{ url_for('static', filename='js/common13.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/charts2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar8.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bokeh1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emu8.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notice7.js') }}"></script>

    <link rel="stylesheet" href="http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css"/>
    <script type="text/javascript" src="http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    {{ script|safe }}


    {#    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>#}
    {#    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>#}
    {#    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>#}
    {#    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>#}

    {{ super() }}
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block page_content %} {% endblock %}
{% endblock %}






