{% extends "base.html" %}
{% block content %}
    <div>Всего игр:<b> {{ cnt }}</b></div>
    <div style="overflow-x: scroll;">
        <table border="1">
            <tr>
                <td></td>
                {% for i in range(1,21) %}
                    <td style="background-color: #ff7f5d"><b>{{ i }}</b></td>
                {% endfor %}
                <td></td>
                {% for i in range(1,21) %}
                    <td style="background-color: #6dfc7d"><b>{{ i }}</b></td>
                {% endfor %}
            </tr>
            {% for j in range(1, 25) %}

                <tr>
                    <td><b>{{ j }}</b></td>
                    {% for g, digs in full_stat[j].items() %}

                        {% for i in range(1,21) %}
                            {#                    {% for n, cnt in ser.items() %}#}
                            {% if i|string in digs %}
                                <td>{{ digs[i|string] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                        {% endfor %}
                        <td></td>

                    {% endfor %}


                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}