{% extends "base.html" %}
{% block content %}
    <div id="msg"></div>

    <div class="container">
        <div class="row justify-content-between">
            <div>Cхема</div>
            <div>
                <select class="custom-select custom-select-sm" id="profile" onchange="loadRule()">
                    {% for item in profiles %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary btn-group-sm" data-toggle="modal"
                        data-target="#addProfile">+
                </button>
            </div>

        </div>
    </div>
    <div class="container">
        <div id="rules" class="row justify-content-between"></div>
        <div id="skip_time" class="row"></div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Старт</th>
            <th>Стоп</th>
            <th>Игр от</th>
            <th>Игр до</th>
            <th>Игра</th>
            <th>Число</th>
            <th>Н|В</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>
                <input id="e_start" class="form-control form-control-sm" type="text" placeholder="от"/>
            </td>
            <td>
                <input id="e_stop" class="form-control form-control-sm" type="text" placeholder="до"/>
            </td>
            <td>
                <input id="e_game_start" class="form-control form-control-sm" type="text" placeholder="игр от"/>
            </td>
            <td>
                <input id="e_game" class="form-control form-control-sm" type="text" placeholder="игр до"/>
            </td>
            <td>
                <input id="e_game_type" class="form-control form-control-sm" type="text" placeholder="Тип"/>
            </td>
            <td>
                <input id="e_game_digit" class="form-control form-control-sm" type="text" placeholder="Число"/>
            </td>
            <td>
                <input id="e_game_ser" class="form-control form-control-sm" type="text" placeholder="0|1"/>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="7">
                <button type="button" class="btn btn-primary btn-group-sm btn-block" onclick="startEmu()">Проверка
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <div id="total" class="row justify-content-between"></div>
    </div>
    <div id="info" class="container">

    </div>


    <div class="modal fade" id="addProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новая схема</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Имя схемы:</label>
                            <input type="text" class="form-control" id="profile_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="add_profile()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}