{% extends "base.html" %}


{% block content %}
    <div id="msg"></div>
    {{ max_date }} Игр: <b>{{ count_games }} </b>

    <div style="overflow-x: scroll;">
        <table class="table table-striped table-sm table-hover">
            <tbody>
            <tr {% if play == '0' %}
                style="background-color: #6dfc7d"
            {% else %}
                style="background-color: #ff7f5d"
            {% endif %}
            >
                <td></td>
                {% for d in dates %}
                    <td>
                        <div style="-webkit-writing-mode: vertical-rl; writing-mode:tb-rl;">{{ d|formatdatetime }}</div>
                    </td>
                {% endfor %}
            </tr>

            {% for game in games %}
                <tr onclick="get_info('{{ game.digit }}','{{ play }}')">
                    <td id="r{{ game.digit }}" data-toggle="popover" data-placement="auto" data-content=""
                            {% if play == '0' %}
                        style="background-color: #6dfc7d"
                            {% else %}
                        style="background-color: #ff7f5d"
                            {% endif %}
                    >
                        <div>{{ game.digit }}</div>
                    </td>
                    {% for g in game.game %}
                        <td {% if g|is_numeric %}style="background-color:#{{ g|hex_color }}{{ g|hex_color }}FF"{% endif %} align="center">{% if g|is_numeric %}{{ g }}{% else %}.{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if play == '0' %}
            <canvas id="chBarL" width="400" height="200"></canvas>
        {% else %}
            <canvas id="chBarW" width="400" height="200"></canvas>
        {% endif %}
    <div class="container">
        <div class="row">

            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="get_games()">Обновить</button>

        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            {% if play == '0' %}
{#                <canvas id="chBarL" width="400" height="200"></canvas>#}

                <a href="/index?play=1" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Показать
                    серии невыпадений</a>

            {% else %}
{#                <canvas id="chBarW" width="400" height="200"></canvas>#}
                <a href="/index?play=0" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Показать
                    серии выпадений</a>
            {% endif %}
        </div>
        <div id="lost_games"></div>
        <div id="stat"></div>
    </div>


    {#    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
    {##}
    {#    <script type="text/javascript">#}
    {#        $(document).ready(function () {#}
    {#            $("html").on("mouseup", function (e) {#}
    {#                var l = $(e.target);#}
    {#                if (l[0].className.indexOf("popover") == -1) {#}
    {#                    $(".popover").each(function () {#}
    {#                        $(this).popover("hide");#}
    {#                    });#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    </script>#}


{% endblock %}