{% extends "base.html" %}


{% block content %}
    <div id="msg"></div>
    <h4>Обновлено {{ max_date }} Количество игр: {{ count_games }}</h4>
    <hr>
    <table class="table table-striped table-sm table-hover">
        <tbody>
        <tr {% if play == '0' %}
            style="background-color: #6dfc7d"
        {% else %}
            style="background-color: #ff7f5d"
        {% endif %}
        >
            <td></td>
            {% for d in dates %}
                <td>
                    <div style="-webkit-writing-mode: vertical-rl; writing-mode:tb-rl;">{{ d|formatdatetime }}</div>
                </td>
            {% endfor %}
        </tr>

        {% for game in games %}
            <tr>
                <td style="background-color:#61d666">
                    <div class="text-danger">{{ game.digit }}</div>
                </td>
                {% for g in game.game %}
                    <td align="center"
                        {% if g|is_numeric %}style="background-color:#{{ g|hex_color }}{{ g|hex_color }}FF"{% endif %}
                    >{% if g|is_numeric %}{{ g }}{% else %}.{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">

            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="get_games()">Обновить</button>

        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            {% if play == '0' %}
                <a href="/index?play=1" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Показать
                    серии невыпадений</a>
            {% else %}
                <a href="/index?play=0" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Показать
                    серии выпадений</a>
            {% endif %}
        </div>
    </div>


{% endblock %}