{% extends "base.html" %}


{% block page_content %}
    <div id="msg">

    </div>
    {{ max_date }} Баланс: <b id="bal">{{ balance }}</b>
    <div style="overflow-x: scroll;">
        <table class="table table-striped table-sm table-hover">
            <tbody>
            <tr {% if play == '0' %}
                style="background-color: #6dfc7d"
            {% else %}
                style="background-color: #ff7f5d"
            {% endif %}
            >
                <td></td>
                {% for d in dates %}
                    <td>
                        <div style="-webkit-writing-mode: vertical-rl; writing-mode:tb-rl;">{{ d|formatdatetime }}</div>
                    </td>
                {% endfor %}
            </tr>

            {% for game in games %}
                <tr id="row{{ game.digit }}" onclick="get_info('{{ game.digit }}','{{ play }}', '{{ game_type }}')">
                    <td id="r{{ game.digit }}" data-toggle="popover" data-placement="auto" data-content=""
                            {% if play == '0' %}
                        style="background-color: #6dfc7d"
                            {% else %}
                        style="background-color: #ff7f5d"
                            {% endif %}
                    >
                        <div>{{ game.digit }}</div>
                    </td>
                    {% for g in game.game %}
                        <td {% if g|is_numeric %}
                            style="background-color:#{{ g|hex_color }}{{ g|hex_color }}FF"{% endif %}
                            align="center">
                            {% if g|is_numeric %}{{ g }}{% else %}.{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row justify-content-between">

            <button type="button" class="btn btn-primary btn-sm" onclick="get_games({{ game_type }})">Обновить</button>
            {% if play == '0' %}


                <a href="/index?play=1&game={{ game_type }}" class="btn btn-secondary btn-sm" role="button"
                   aria-pressed="true">Серии
                    невыпадений</a>

            {% else %}

                <a href="/index?play=0&game={{ game_type }}" class="btn btn-secondary btn-sm " role="button"
                   aria-pressed="true">Серии
                    выпадений</a>
            {% endif %}
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#grModal">Группа</button>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Ставка
            </button>


        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">

        </div>

        <div id="stat"></div>
        <div id="lost_games"></div>
    </div>
    <table>
        <tr>
            <td id="hw">
            </td>
            <td style="background-color:#16f1f1">7</td>
            <td style="background-color:#ffc107">8</td>
            <td style="background-color:#ff60eb">9</td>
            <td style="background-color:#28a745">10</td>
            <td style="background-color:#dc3545">11</td>
            <td style="background-color:#007bff">12</td>
            <td style="background-color:#6f42c1">13</td>
        <tr>
    </table>
    {% if play == '0' %}
        <canvas id="chBarL" width="400" height="200"></canvas>
    {% else %}
        <canvas id="chBarW" width="400" height="200"></canvas>
    {% endif %}


    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog bd-example-modal-sm" role="document">
            <div class="form-control">
                <div class="modal-content">

                    <div id="bet_after">{{ max_date }}</div>
                    <div class="input-group input-group-sm mb-3">
                        <button id="bet_digit" class="btn btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">?
                        </button>
                        <div class="dropdown-menu">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('0', '{{ game_type }}')">0
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('1', '{{ game_type }}')">1
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('2', '{{ game_type }}')">2
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('3', '{{ game_type }}')">3
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('4', '{{ game_type }}')">4
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('5', '{{ game_type }}')">5
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('6', '{{ game_type }}')">6
                                    </button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('7', '{{ game_type }}')">7
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('8', '{{ game_type }}')">8
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('9', '{{ game_type }}')">9
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('10', '{{ game_type }}')">10
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('11', '{{ game_type }}')">11
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('12', '{{ game_type }}')">12
                                    </button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('13', '{{ game_type }}')">13
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('14', '{{ game_type }}')">14
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('15', '{{ game_type }}')">15
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('16', '{{ game_type }}')">16
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('17', '{{ game_type }}')">17
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('18', '{{ game_type }}')">18
                                    </button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('19', '{{ game_type }}')">19
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('20', '{{ game_type }}')">20
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('21', '{{ game_type }}')">21
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('22', '{{ game_type }}')">22
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('23', '{{ game_type }}')">23
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('24', '{{ game_type }}')">24
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('25', '{{ game_type }}')">25
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="hist('26', '{{ game_type }}')">26
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input id="bet_win" class="form-control form-control-sm" type="text" value="?" readonly>
                        <input id="bet_count" class="form-control form-control-sm" type="text" placeholder="ставка"
                               onkeyup="refresh_bet_sum()">
                        <div class="input-group-prepend">
                            {% if game_type=='2' and play=='1' %}
                                <span class="input-group-text" id="bet_k">5.75</span>
                            {% elif game_type=='2' and play=='0' %}
                                <span class="input-group-text" id="bet_k">1.14</span>
                            {% elif game_type=='3' and play=='1' %}
                                <span class="input-group-text" id="bet_k">3.43</span>
                            {% elif game_type=='3' and play=='0' %}
                                <span class="input-group-text" id="bet_k">1.33</span>
                            {% else %}
                                <span class="input-group-text" id="bet_k">1.92</span>
                            {% endif %}
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="bet_sum">?</span>
                        </div>
                        <input id="bet_series" type="hidden" value="{{ play }}"/>
                        <input id="bet_game_type" type="hidden" value="{{ game_type }}"/>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col-6">
                            <button type="button" class="btn btn-success btn-sm btn-block" onclick="ins_win(1)">
                                Выпадет
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-danger btn-sm btn-block" onclick="ins_win(0)">Не
                                выпадет
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(9150)">9150</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(4400)">4400</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(2100)">2100</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(1000)">1000</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(480)">480</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(230)">230</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(109)">109</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_bet(50)">50</button>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" onclick="bet()">Ставка</button>
                    </div>
                    <div id="err_msg"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade " id="grModal" tabindex="-1" role="dialog" aria-labelledby="grModalLabel"
         aria-hidden="true">
        <div class="modal-dialog bd-example-modal-sm" role="document">
            <div class="form-control">
                <div class="modal-content">

                    <div id="bet_after">{{ max_date }}</div>
                    <div class="input-group input-group-sm mb-3">
                        <input id="gr_series" class="form-control form-control-sm" type="text" placeholder="серия"
                               onkeyup="refresh_gr_bet_sum()">
                        <input id="gr_bet_win" class="form-control form-control-sm" type="text" value="?" readonly>
                        <input id="gr_bet_count" class="form-control form-control-sm" type="text" placeholder="ставка"
                               onkeyup="refresh_gr_bet_sum()">
                        <div class="input-group-prepend">
                            {% if game_type=='2' and play=='1' %}
                                <span class="input-group-text" id="gr_bet_k">5.75</span>
                            {% elif game_type=='2' and play=='0' %}
                                <span class="input-group-text" id="gr_bet_k">1.14</span>
                            {% elif game_type=='3' and play=='1' %}
                                <span class="input-group-text" id="gr_bet_k">3.43</span>
                            {% elif game_type=='3' and play=='0' %}
                                <span class="input-group-text" id="gr_bet_k">1.33</span>
                            {% else %}
                                <span class="input-group-text" id="gr_bet_k">1.92</span>
                            {% endif %}
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="gr_bet_sum">?</span>
                        </div>

                        <input id="gr_bet_series" type="hidden" value="{{ play }}"/>
                        <input id="gr_bet_game_type" type="hidden" value="{{ game_type }}"/>
                    </div>

                    <div class="modal-footer">

                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(9150)">9150</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(4400)">4400</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(2100)">2100</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(1000)">1000</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(480)">480</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(230)">230</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(109)">109</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="gr_ins_bet(50)">50</button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(10, '{{ game_type }}')">10
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(9, '{{ game_type }}')">9
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(8, '{{ game_type }}')">8
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(7, '{{ game_type }}')">7
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(6, '{{ game_type }}')">6
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(5, '{{ game_type }}')">5
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(4, '{{ game_type }}')">4
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(3, '{{ game_type }}')">3
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(2, '{{ game_type }}')">2
                            </button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" onclick="ins_gr(1, '{{ game_type }}')">1
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6">
                            <div id="gr_0"></div>
                        </div>
                        <div class="col-6">
                            <div id="gr_1"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" onclick="gr_bet()">Ставка</button>
                    </div>
                    <div id="err_msg"></div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}