{% extends "base.html" %}
{% block content %}
    <div id="msg"></div>
    <table>
        <thead>
        <tr>
            <th>Игра</th>
            <th>Число</th>
            <th>Серия</th>
            <th>Н|В</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>
                <input id="n_game_type" class="form-control form-control-sm" type="text" placeholder="Игра"/>
            </td>
            <td>
                <input id="n_game_digit" class="form-control form-control-sm" type="text" placeholder="Число"/>
            </td>
            <td>
                <input id="n_game_size" class="form-control form-control-sm" type="text" placeholder="Серия"/>
            </td>
            <td>
                <input id="n_game_ser" class="form-control form-control-sm" type="text" placeholder="0|1"/>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button type="button" class="btn btn-primary btn-group-sm btn-block" onclick="addNotice()">Добавить
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
        <tr>
            <th>Del</th>
            <th>Игра</th>
            <th>Число</th>
            <th>Серия</th>
            <th>Н|В</th>


        </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            <tr id="id_notice_{{ loop.index0 }}">
                <td>
                    <h6><span class="badge badge-pill badge-danger" onclick="delNotice({{ loop.index0 }})">DEL
                    </span></h6>
                </td>
                <td><h6>{{ rule.game_type }}</h6></td>
                <td><h6>{{ rule.game_digit }}</h6></td>
                <td><h6>{{ rule.game_size }}</h6></td>
                <td><h6>{{ rule.game_ser }}</h6></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}